.CalenderComp-Div{
    height: 40rem;
    width: 60rem;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.CalenderComp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calendar{
  width: inherit;
  height: inherit;
  font-size: 2rem;
  
}