.MessDashboard{
    background-color: darksalmon;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.MessDashboard-asideDiv{
    background-color: aqua;
    height: inherit;
    width: 10.5%;
}
.shrinkedMessDashboard-asideDiv{
    height: inherit;
    width: 3%; 
}

.MessDashboard-MainDiv{
    background-color: cadetblue;
    height: inherit;
    width: 85%;
}

.shrinkedMessDashboard-MainDiv{
    background-color: cadetblue;
    height: inherit;
    width: 100%;
}


/* .MessDashboard-MainBox{
    margin-top: 4rem;
    height: 44rem;
    width: 80rem;
    background-color: azure;
} */
 
/* .MessDashboard-HeadingDiv{
    background-color: burlywood;
    width: 90%;
    height:4rem;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}

.MessDashboard-ContentDiv{
    background-color: blanchedalmond;
    margin-top: 2.5rem;
    height: 38rem;
    width: 95%;
    margin-left: 2rem;
} */