.RecipePage{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
}

.RecipePage-asideDiv{
    height:inherit;
    width: 13%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Shrinked-RecipePage-asideDiv{
    height:inherit;
    width: 3%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RecipePage-MainDiv{
    height:inherit;
    width: 85%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrinkedRecipePage-MainDiv{
    height:inherit;
    width: 95%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.RecipePage-MainDiv-Content{
    background-color: cadetblue;
    height:40rem;
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrinkRecipePage-MainDiv-Content{
    background-color: cadetblue;
    height:40rem;
    width: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RecipePage-MainDiv-Content-Messages{
    background-color:chartreuse;
    min-height: fit-content;
    max-height:39rem;
    height:39rem;
    width: 69rem;
    overflow-y: scroll;  
}

.shrinkedRecipePage-MainDiv-Content-Messages{
    background-color:chartreuse;
    min-height: fit-content;
    max-height:39rem;
    height:39rem;
    width: 79rem;
    overflow-y: scroll;  
}


.RecipePage-MainDiv-Content-Message{
    background-color:chartreuse;
    min-height: fit-content;
    max-height:39rem;
    height:auto;
    width: 69rem;
    margin-top: 35rem;
}

.shrinkedRecipePage-MainDiv-Content-Message{
    background-color:chartreuse;
    min-height: fit-content;
    max-height:39rem;
    height:auto;
    width: 79rem;
    margin-top: 35rem;
}

.RecipePage-MainDiv-Content-Messages-ClientDiv-true{
    margin-top: 0.5rem;
    background-color: aqua;
    min-width:fit-content;
  min-height: 2rem;
  max-width: 40rem;
  max-height: 5rem;
  width: auto;
  height: auto;
  overflow-wrap: break-word;
  word-break:  break-word;
  overflow: hidden;
  border-radius: 0.5rem ;
  float: right;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.RecipePage-MainDiv-Content-Messages-ClientDiv-false{
    margin-top: 0.5rem;
    background-color: aqua;
    min-width:25rem;
    min-height: 2rem;
    max-width: 50rem;
    max-height: fit-content;
    width: auto;
    height: auto;
    overflow-wrap: break-word;
    word-break:  break-word;
    overflow: hidden;
    border-radius: 0.5rem ;
    float: left;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.saveDiv{
     position: absolute;
     bottom: 0px;
     right:3px
}
.RecipePage-MainDiv-Input{
    background-color: deepskyblue;
    width: 70rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrinkRecipePage-MainDiv-Input{
    background-color: deepskyblue;
    width: 80rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.RecipePage-MainDiv-Input-textarea > textarea{
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.shrinkedRecipePage-MainDiv-Input-textarea > textarea{
    /* margin-left: 5rem; */
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.RecipePage-MainDiv-Input-Binder{
    display: flex;
    gap: 1rem;
}



.RecipePage-MainDiv-Input-Button > button{
  width: 7rem;
  height: 4rem;
  background-color: bisque;
  border-radius: 0.5rem;
  margin-top: 0.65rem;

}


.RecipePage-MainDiv-Content-Messages-Client-true{
  /* min-width:fit-content;
  min-height: 2rem;
  max-width: 40rem;
  max-height: 5rem;
  width: auto;
  height: auto;
  overflow-wrap: break-word;
  word-break:  break-word;
  overflow: hidden;
  border-radius: 0.5rem ;
  float: right;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem; */
}

.RecipePage-MainDiv-Content-Messages-Client-false{
    /* min-width:25rem;
    min-height: 2rem;
    max-width: 50rem;
    max-height: fit-content;
    width: auto;
    height: auto;
    overflow-wrap: break-word;
    word-break:  break-word;
    overflow: hidden;
    border-radius: 0.5rem ;
    float: left;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem; */
}

.Recipe-bookmark{
 margin-left: -0.5rem;
 height: 5rem;
 width: 5rem;
 background-color: chartreuse;
 border-radius: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.saveRecipeTitle{
    margin-top: -30rem;
    margin-left: 40rem;
    /* z-index: 99999rem; */
    font-size: 2rem;
    display: flex;
    /* background-color:whitesmoke; */
}

.saveRecipeTitle > input {
    bottom: 0.3rem;
    padding: 0.2rem;
}

.saveRecipeTitleDiv{
    width: 15rem;
    height: 5rem;
    background-color:rgb(240, 240, 240);
}